/* css Zen Garden default style v1.02 */
/* css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/1.0/  */

/* This file based on 'Tranquille' by Dave Shea */
/* You may use this file as a foundation for any new work, but you may find it easier to start from scratch. */
/* Not all elements are defined in this file, so you'll most likely want to refer to the xhtml as well. */

/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */


/* basic elements */
html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 75% Arial, sans-serif;
	line-height: 1.88889;
	margin: 0; 
	padding: 0;
	background-color:  #9183a0;


	
	}
p { 
	margin-top: 0;
	margin: 0 10px; 
	text-align: justify;
	}
h3 { 
	font: normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	padding-left: 10px;
		background: linear-gradient(to right, purple, white);
		color : white;
		font-style: italic;

	}
	h3:hover {
		animation: 1s fade;
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color : #123b7c;

	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 

	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}
abbr {
	border-bottom: none;
	}


/* specific divs */
.page-wrapper { 
	box-sizing: padding-box;
	width : 45%;  
	margin: 0 auto; 
	position: relative;
	border: 1px solid black;
	padding : 0 ;
	background-color: white;

	}

.intro { 
	width: 100%;
	}
header {
	width:100%;
	padding-top: 10px;
	background-color: #666666;
	color : black;
		background: url(border-bg.png) top center no-repeat;
		background-size : 70% 60px;
		min-height: 100px;
		background-color: white;
		border-bottom: 5px solid purple;
}
header h1 { 

	width : 50%;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	overflow: hidden;
	padding : 0;

	}
header h2 { 

	font-size: 15px;
	font-style: italic;
	margin: 0 auto;
	width : 50%;
	padding : 0;
	text-align: center;
	overflow: hidden;
	color: #888888;

}
.preamble h3 {
background-color: #EEEEEE;	
}


.summary {
	clear: both; 
	margin: 10px 10px 10px 0px; 
	padding: 20px;
	width: 160px; 
	float : left;
	height: 100%;
	background-color: #f7faff;
	z-index: 1;
	border-radius: 50%;
	border: 1px solid #CCCCCC;
	}
.summary p {
	text-align: center;
	font-style: italic;
	font-weight: bold;

}
.preamble h3 {
	width : auto;
}

.preamble {
	clear: right; 
	padding: 0px 0px 0 10px;
		width: 80%;

	}
.supporting {	
	width: 80%;
	margin-bottom: 40px;
	}
.main p {

}
.main {

}
.main h3 {
	background-color: #EEEEEE;

}

footer { 
	text-align: center; 

	}
footer a:link, footer a:visited { 
	margin-right: 20px; 
	}

.sidebar {
	overflow:hidden;
	height: 90%;
	position: absolute; 
	top: 10%; 
	width:170px;
right: 0;

	transition: top .5s;
}
@keyframes fade {
  0% {
    background: linear-gradient(to right, purple, white);
  }
  50% {
    background: linear-gradient(to right, white, purple);
  }
  100% {
  	background: linear-gradient(to right, purple, white);
  }
}



.sidebar .wrapper { 
	box-sizing: padding-box;
	font: 10px verdana, sans-serif; 
	margin-top: 180px; 
	border : 1px solid #AAAAAA;
	border-radius: 10px;
	width: 168px; 
	padding: 20px 0;
	}
.sidebar h3 {
	background: none;
	color : black;
	background-color: #EEEEEE;
	font-weight: bolder;
	margin : 0;
	text-align: center;
}
.sidebar:hover {
	top : 9%;
}


.sidebar ul {
	margin: 10px;
	padding: 2px;
	background-color: white;
	border: 1px solid #DDDDDD;
	border-radius: 10px;
	}
.sidebar li {
	line-height: 1.3em; 
	display: block; 
	padding-top: 5px; 
	margin-bottom: 5px;
	list-style-type: none;
		animation: 1s ease-out 0s 1 fadeIn;

	}
.sidebar li a:link {

	}
.sidebar li a:visited {

	}


.extra1 {
	background: url(lotus.jpg) top center no-repeat;
	background-size: 150px 150px;
	position: absolute; 
	opacity: 0.7;
	top: 145px; 
	right: 27.5%; 
	width: 170px; 
	height: 150px;
	}