body {
	background: url(desk.png) top left;
	font-family: cursive;

}

.intro {
	position:relative;
	box-sizing: padding-box;
	height:70%;
	background: url(notepad.jpg) top center;

	width:30%;
	margin: 10% auto;
	padding-top: 30px;
	padding-left: 40px;
	top: 0;
	transition: .5s all;
	animation: drop 1s ease-out;
	font-size: 1em;
	border: 1px solid black;
	border-radius: 5px 5px 10px 10px;

	
}
.intro:hover {
	top: -15px;
	box-shadow: 10px 15px 15px #111111;
	z-index: 2;
}
header {
	width: 60%;


}
header h1 {
	font-size: 30px;
	color:red;
	font-weight: bolder;
	text-align: center;
}
header h2 {
	text-align: center;
	padding-left: 20px;
	font-size: 22px;
}
.preamble {
	width:90%;
	margin-left: 8%;
	padding-right: 10%;

}
.summary {
	width:60%;
	margin-left: 10%;

}
.main {
	transform: rotate(-3deg);
	background: url(paper2.png) top left repeat-y;
	background-size: 100% auto;
	width : 25%;
	position: absolute;
	top:0;
	left: 4%;
	padding : 50px;
	transition: .5s all ease-out;
	animation: enter 3s;


}
.main:hover {
	top:-10px;
		box-shadow: 10px 15px 15px black;
}
.sidebar {
	float: right;

}
.explanation {
	position: relative;
	top: -7px;
}
.requirements {
	position: relative;
	top: 28px;
	right : 0;
}
.participation {
	position: relative;
	top: 15px;
}
footer {
	position: relative;
	top: 25px;
}
.benefits {
	position: relative;
	top: 18px;
}
.sidebar {
	transform: rotate(6deg);
	height: 65%;
	width: 25%;
	position: absolute;
	top: -20px;
	margin-left: 67%;
	background: url(clipboard.jpg) top left no-repeat;
	background-size: 100% 100%;
	padding-top: 100px;
	transition: .5s all;
	animation: enter 3s ;
	overflow: auto;
	min-width: 300px;
}
.sidebar:hover {
	top : -30px;
	box-shadow: 15px 15px 15px black;
}
.sidebar div {
	padding-left: 30px;
}
.main h3 {
	color: red;
}
.main p {
	font-size: 13px;
}

.extra1 {
	position: absolute;
	height: 40px;
	width: 400px;
	top: 85%;
	right: 10%;
	background : url(sharpie.jpeg) top left no-repeat;
	background-size: 100% 100%;
	z-index: 10;
	border-radius: 15px;
	transition: 3s all;
	transform: rotate(40deg);
}
.extra1:hover {
	animation: 1s pen;
}

@keyframes pen {
	0% {

	}
	25% {
		top : 80%;
		box-shadow: 15px 25px 15px black;		
	}

	100% {
		transform: rotate(400deg);
	}

}
@keyframes enter {
	0% {
		transform: translateY(-500%);
					box-shadow: 100px 150px 150px black;

	}
75% {
		box-shadow: 10px 15px 15px black;

}
	100% {
	}
}
@keyframes drop {
		0% {
			transform: skewy(-170deg);
			transform: skewY(-30deg);

			left: -2000px;
			box-shadow: 60px 35px 35px black;
			top: -600px;
		}
		30% {
						transform: skewy(-170deg);
			transform: skewY(-30deg);
		}
		80% {
			box-shadow: 35px 10px 15px black;
		}
		100% {
			left: 0px;
		}


}
